branca==0.8.2
certifi==2026.5.20
charset-normalizer==3.4.7
colorzero==2.0
folium==0.20.0
gpiozero==2.0.1
idna==3.18
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.6
playsound3==3.3.1
psutil==7.2.2
pygame==2.6.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.19
requests==2.34.2
urllib3==2.7.0
xyzservices==2026.3.0
